{% extends "base.twig" %}
{% block body %}
    <div class="container">
        <div class="justify-content-center gurizone-crear p-lg-4 m-lg-3 p-md-4 m-md-3 p-sm-4 m-sm-5">
            <h1 class="text-center text-black-50">CREAR PRODUCTO</h1>
            <!-- RESOLUCION=DEL UPDATE-->
            {% if not errores == "" %}
            <h3 class="text-danger text-center">Error en la inserción del producto!</h3>
                {% for error in errores %}
                <h5 class="text-danger text-center">{{ error }}</h5>
                {% endfor %}
            {% elseif datos_enviados == true and warning is not empty %}
                <h3 class="text-warning text-center">{{ warning }}</h3>
            {% elseif datos_enviados == true and errores is empty %}
            <h3 class="text-success text-center">Inserción del producto realizada!</h3>
            {% endif %}
            <!--FIN RESOLUCION DEL UPDATE-->

            <!--FORMULARIO-->
            <div class="col-md-12 justify-content-center">
                <form action="{{ router.generateURL('Producto','crearProducto') }}" method="post">
                    <div class="p-3 p-lg-5">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="c_text" class="text-black">MODELO <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_text" name="modelo" placeholder="">
                            </div>
                            <div class="col-md-12">
                                <label for="c_text" class="text-black">MARCA <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_text" name="marca" placeholder="">
                            </div>
                            <div class="col-md-12">
                                <label for="c_text" class="text-black">CATEGORIA <span class="text-danger">*</span></label>
                                <select class="custom-select" name="categoria" id="c_text">
                                    <option selected value="1">Accesorios</option>
                                    <option value="2">Ropa</option>
                                    <option value="1">Zapatillas</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label for="c_text" class="text-black">SUBCATEGORIA<span class="text-danger">*</span></label>
                                <select class="custom-select" name="subcategoria" id="c_text">
                                    <option selected value="1">Balones</option>
                                    <option value="2">Tableros</option>
                                    <option value="3">Varios</option>
                                    <option value="4">CamisetasNBA</option>
                                    <option value="5">Sudaderas</option>
                                    <option value="6">Camisetas</option>
                                    <option value="7">Caquetas</option>
                                    <option value="8">Pantalones</option>
                                    <option value="9">Jordan</option>
                                    <option value="10">Nike</option>
                                    <option value="11">Adidas</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label for="c_text" class="text-black">COLOR<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_text" name="color" placeholder="">
                            </div>
                            <div class="col-md-12">
                                <label for="c_text" class="text-black">TALLA<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_text" name="talla" placeholder="">
                            </div>
                            <div class="col-md-12">
                                <label for="c_text" class="text-black">STOCK<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_text" name="stock" placeholder="">
                            </div>
                            <div class="col-md-12">
                                <label for="c_text" class="text-black">PRECIO <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_text" name="precio" placeholder="">
                            </div>
                            <div class="col-md-12">
                                <label for="c_text" class="text-black">URL FOTO <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_text" name="urlfoto" value="/imgs/productos/">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="c_text" class="text-black">ESTADO <span class="text-danger">*</span></label>
                            <div>
                                <label class="radio-inline"><input type="radio" name="descatalogado" checked value="0">Dar alta</label>
                                <label class="radio-inline"><input type="radio" name="descatalogado" value="1">Dar baja</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="descripcion" class="text-black">DESCRIPCION </label>
                                <textarea name="descripcion" id="descripcion" cols="30" rows="7" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <input type="submit" class="btn btn-primary btn-lg btn-block" value="CREAR">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--FIN FORMULARIO-->
        </div>
    </div>
{% endblock %}