{% extends "base.twig" %}
{% block body %}
    <div class="justify-content-center gurizone-login p-lg-2 m-lg-3 p-md-4 m-md-3 p-sm-4 m-sm-5">
        <h1 class="text-center">Lo sentimos, esa página no existe</h1>
        <hr>
        <div>
            <h3 class="text-danger text-center">Error en el recurso solicitado</h3>
        </div>
    </div>
{% endblock %}